body {
  
  background: #00FFFF url(bgimg.png) scroll no-repeat top right;
  /*background: background-color background-image background-position/background-size background-repeat background-origin background-clip background-attachment|initial|inherit;*/
  /*background-color: color-name|HEX-value|RGB-value|HSL-value|RGBA-value|HSLA-value|transparent|initial|inherit;*/
  /*background-image: url(image)|none|conic-gradient()|linear-gradient()|radial-gradient()|repeating-conic-gradient()|repeating-linear-gradient()|repeating-radial-gradient()|initial|inherit;*/
  /*background-repeat: repeat|repeat-x|repeat-y|no-repeat|space|round|initial|inherit;*/
  /*background-position: left top|left center|left bottom|right top|right center|right bottom|center top|center center|center bottom|x% y%|xpx ypx|x% ypx|xpx y%|initial|inherit;*/
  /*background-attachment: scroll|fixed|local|initial|inherit;*/
  /*background-origin: padding-box|border-box|content-box|initial|inherit;*/
  /*background-clip: padding-box|border-box|content-box|initial|inherit;*/
  /*background-size: auto|xpx|ypx|xpx ypx|x%|y%|x% y%|cover|contain|initial|inherit;*/
  /*background-position-x: left|right|center|xpx|x%|initial|inherit;*/
  /*background-position-y: left|right|center|ypx|y%|initial|inherit;*/
  
  
  border: #FF00FF groove thick;
  /*border: border-width border-style border-color|initial|inherit;*/
  /*border-style: [top right bottom left|top left-right bottom|top-bottom left-right|all-sides] dotted|dashed|solid|double|groove|ridge|inset|outset|none|hidden|initial|inherit;*/
  /*border-width: [top right bottom left|top left-right bottom|top-bottom left-right|all-sides] thin|medium|thick|px|initial|inherit;*/
  /*border-color: [top right bottom left|top left-right bottom|top-bottom left-right|all-sides] color-name|HEX-value|RGB-value|HSL-value|RGBA-value|HSLA-value|transparent|initial|inherit;*/
  
  
  /*border-top: border-top-style border-top-width border-top-color*/
  /*border-top-style: dotted|dashed|solid|double|groove|ridge|inset|outset|none|hidden;*/
  /*border-top-width: thin|medium|thick|px|initial|inherit;*/
  /*border-top-color: color-name|HEX-value|RGB-value|HSL-value|RGBA-value|HSLA-value|transparent|initial|inherit;*/
  
  /*border-right: border-right-style border-right-width border-right-color*/
  /*border-right-style: dotted|dashed|solid|double|groove|ridge|inset|outset|none|hidden;*/
  /*border-right-color: color-name|HEX-value|RGB-value|HSL-value|RGBA-value|HSLA-value|transparent|initial|inherit;*/
  /*border-right-width: thin|medium|thick|px|initial|inherit;*/
  
  /*border-bottom: border-bottom-style border-bottom-width border-bottom-color*/
  /*border-bottom-style: dotted|dashed|solid|double|groove|ridge|inset|outset|none|hidden;*/
  /*border-bottom-width: thin|medium|thick|px|initial|inherit;*/
  /*border-bottom-color: color-name|HEX-value|RGB-value|HSL-value|RGBA-value|HSLA-value|transparent|initial|inherit;*/
  
  /*border-left: border-left-style border-left-width border-left-color*/
  /*border-left-style: dotted|dashed|solid|double|groove|ridge|inset|outset|none|hidden;*/
  /*border-left-width: thin|medium|thick|px|initial|inherit;*/
  /*border-left-color: color-name|HEX-value|RGB-value|HSL-value|RGBA-value|HSLA-value|transparent|initial|inherit;*/
  
  
  border-radius: 100px 100px 5px 100px;
  /*border-radius: [top-left top-right bottom-right bottom-left|top-left top-right_bottom-left bottom-right|top-left_bottom-right top-right_bottom-left|all-sides] px|%|initial|inherit;*/
    /*Syntax= "border-radius: {1-4}Length-Percentage [/{1-4}Length-Percentage]?;" */
  /*border-top-left-radius: px|px/px|%|%/%|px/%|%/px|initial|inherit;*/
  /*border-top-right-radius: px|px/px|%|%/%|px/%|%/px|initial|inherit;*/
  /*border-bottom-right-radius: px|px/px|%|%/%|px/%|%/px|initial|inherit;*/
  /*border-bottom-left-radius: px|px/px|%|%/%|px/%|%/px|initial|inherit;*/
  
  
  margin: 10px;
  /*margin: [top right bottom left|top left-right bottom|top-bottom left-right|all-sides] px|%|auto|initial|inherit;*/
  /*margin-top: px|%|auto|initial|inherit;*/
  /*margin-right: px|%|auto|initial|inherit;*/
  /*margin-bottom: px|%|auto|initial|inherit;*/
  /*margin-left: px|%|auto|initial|inherit;*/
  
  
  padding: 5px 10px 10px 5px;
  /*padding: [top right bottom left|top left-right bottom|top-bottom left-right|all-sides] px|%|auto|initial|inherit;*/
  /*padding-top: px|%|auto|initial|inherit;*/
  /*padding-right: px|%|auto|initial|inherit;*/
  /*padding-bottom: px|%|auto|initial|inherit;*/
  /*padding-left: px|%|auto|initial|inherit;*/
  
  
  height: auto;
  /*height: auto|px|%|initial|inherit;*/
  
  max-height: auto;
  /*max-height: auto|px|%|initial|inherit;*/
  
  min-height: auto;
  /*min-height: auto|px|%|initial|inherit;*/
  
  
  
  width: auto;
  /*width: auto|px|%|initial|inherit;*/
  
  max-width: auto;
  /*max-width: auto|px|%|initial|inherit;*/
  
  min-width: auto;
  /*min-width: auto|px|%|initial|inherit;*/
  
  
  
  outline: dotted 2px purple;
  /*outline: outline-style outline-width outline-color|initial|inherit;*/
  /*outline-style: dotted|dashed|solid|double|groove|ridge|inset|outset|none|hidden|initial|inherit;*/
  /*outline-width: thin|medium|thick|px|initial|inherit;*/
  /*outline-color: color-name|HEX-value|RGB-value|HSL-value|RGBA-value|HSLA-value|transparent|initial|inherit;*/
  
  outline-offset: initial;
  /*outline-offset: px|initial|inherit;*/
  

  
  color: brown;
  /*color: color-name|HEX-value|RGB-value|HSL-value|RGBA-value|HSLA-value|transparent|initial|inherit;*/
  
  text-align: left;
  /*text-align: left|center|right|justify|initial|inherit;*/
  
  text-align-last: justify;
  /*text-align-last: auto|left|right|center|justify|start|end|initial|inherit;*/
  
  direction: rtl;
  /*direction: ltr|rtl|initial|inherit;*/
  
  unicode-bidi: embed;
  /*unicode-bidi: normal|embed|bidi-override|initial|inherit;*/
  
  vertical-align: 5%;
  /*vertical-align: baseline|px|%|sub|super|top|text-top|middle|bottom|text-bottom|initial|inherit;*/
  
  
  
  text-decoration:
  /*text-decoration: text-decoration-line text-decoration-color text-decoration-style text-decoration-thickness|initial|inherit;*/
  /*text-decoration-line: none|underline|overline|line-through|initial|inherit;*/
  /*text-decoration-color: color-name|HEX-value|RGB-value|HSL-value|RGBA-value|HSLA-value|transparent|initial|inherit;*/
  /*text-decoration-style: solid|double|dotted|dashed|wavy|initial|inherit;*/
  /*text-decoration-thickness: auto|from-font|length/percentage|initial|inherit;*/
    
    
}
